body,html{margin:0;padding:0;}

* {
 font-size: 24px;
 font-family: Arial;
	padding-right:10px;
}



.wrapper {
  /* The height needs to be set to a fixed value for the effect to work.
   * 100vh is the full height of the viewport. */
  /* height: 100vh; */
  height: 100%;
  /* The scaling of the images would add a horizontal scrollbar, so disable x overflow. */
  overflow-x: hidden;
  /* Enable scrolling on the page. */
  overflow-y: auto;
  /* Set the perspective to 2px. This is essentailly the simulated distance from the viewport to transformed objects.*/
  perspective: 2px;
}

.section {
  /* Needed for children to be absolutely positioned relative to the parent. */
  position: relative;
  /* The height of the container. Must be set, but it doesn't really matter what the value is. */
  height: 100vh;
  
  /* For text formatting. */
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
  /*text-shadow: 0 0 5px #000;*/
}

.parallax::after {
  /* Display and position the pseudo-element */
  content: " ";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-attachment: fixed;
  background-repeat: no-repeat;
  /* Move the pseudo-element back away from the camera,
   * then scale it back up to fill the viewport.
   * Because the pseudo-element is further away, it appears to move more slowly, like in real life. */
  /*transform: translateZ(-1px) scale(1.5);*/
  /* Force the background image to fill the whole element. */
  background-size: 100%;
  /* Keep the image from overlapping sibling elements. */ 
  z-index: -1;
}

/* The styling for the static div. */
.static {
  background: white;
}

.bg1::after {
  background-image: url('images/bg1.jpg');
}

.bg2::after {
  background-image: url('images/bg2.jpg');
}

.bg3::after {
	background-image: url("images/bg3.jpg");


}
/* .fa {
    
} */

.btn{
  display: inline-block;
  width: 100px;
  height: 100px;
  background: #f1f1f1;
  margin: 10px;
  border-radius: 30%;
  box-shadow: 0 5px 15px -5px #00000070;
  color: #3498db;
  overflow: hidden;
  position: relative;
}
.btn i{
  line-height: 90px;
  font-size: 36px;
  transition: 0.2s linear;
}
.btn:hover i{
  transform: scale(1.3);
  color: #f1f1f1;
}
.btn::before{
  content: "";
  position: absolute;
  width: 120%;
  height: 120%;
  background: #3498db;
  transform: rotate(45deg);
  left: -110%;
  top: 90%;
}
.btn:hover::before{
  animation: aaa 0.7s 1;
  top: -10%;
  left: -10%;
}
@keyframes aaa {
  0%{
    left: -110%;
    top: 90%;
  }50%{
    left: 10%;
    top: -30%;
  }100%{
    top: -10%;
    left: -10%;
  }
}




footer {
  width: 100%;
  height: 200px;
  position: fixed-bottom  ;
  bottom: 0;
  z-index: 1;
	background-color: white;
	/* text-align-right: 30% */
	
}

/*.btnAU{
  display: inline-block;
  width: 100px;
  height: 100px;
  background: #f1f1f1;
  margin: 10px;
  box-shadow: 0 5px 15px -5px #00000070;
  color: #3498db;
  overflow: hidden;
  position: relative;
}*/
.btnAU {
  position: relative;
  display:block;
  height: 60px;
  width: 150px;
  margin: 10px 7px;
  padding: 5px 5px;
  font-weight: 700;
  font-size: 15px;
  letter-spacing: 2px;
  color: #383736;
  border: 2px #383736 solid;
  border-radius: 4px;
  /* text-transform: uppercase; */
  outline: 0;
  overflow:hidden;
  background: none;
  z-index: 1;
  cursor: pointer;
  transition:         0.08s ease-in;
  -o-transition:      0.08s ease-in;
  -ms-transition:     0.08s ease-in;
  -moz-transition:    0.08s ease-in;
  -webkit-transition: 0.08s ease-in;
}

/* .btnAU{
   -webkit-transition: all 150ms cubic-bezier(0.445, 0.050, 0.550, 0.950); 
} */

.btnAU:before{
  position:absolute;  
  content:"";
  background: #f1f1f1  no-repeat center center;
  width:100%;
  height:100%;
  top:0;
  left:0;
  z-index:-1;
  opacity:0;
  /* -webkit-transition: all 250ms cubic-bezier(0.230, 1.000, 0.320, 1.000); */
}

.btnAU:after {
  content: "";
  position: absolute;
  background: #00405a;
  bottom: 0;
  left: 0;
  right: 0;
  top: 100%;
  z-index: -2;
  /* -webkit-transition: all 250ms cubic-bezier(0.230, 1.000, 0.320, 1.000);  */
}
.btnAU:hover{
  color:white;
  border: 0px #00405a solid;
}
.btnAU:hover:before {
  opacity: .2;
}
.btnAU:hover:after {
  top: 0;
}


.NavBar {

  scroll-snap-type: y mandatory;
  
}

@media only screen and (max-device-width: 1366px) {
  .parallax {
    background-attachment: scroll;
  }
}
body.modal-open {
  overflow: visible;
}
/* .container {
  position: fixed;
  right: 0;
  top: 0;
} */
/* Tabs*/
section {
  padding: 60px 0;
}

section .section-title {
  text-align: center;
  color: #0000FF;
  margin-bottom: 50px;
  /* text-transform: uppercase; */
}
#tabs{
  background: #016b97;
  color: #eee;
  
}
#tabs h4.section-title{
  color: #eee;
}

#tabs .nav-tabs .nav-item.show .nav-link, .nav-tabs  {
  color: #000000;
  background-color: transparent;
  border-color: transparent transparent #000000;
/* border-color: #383736; */
  border-bottom: 4px solid !important;
  border-top: 4px solid !important;
  border-left: 4px solid !important;
  border-right: 4px solid !important;

  font-size: 20px;
  font-weight: bold;
}
#tabs .nav-link.active{
  color: #000000;
  background-color: transparent;
  border-color: transparent transparent #000000;
/* border-color: #383736; */
  border-bottom: 4px solid !important;
  border-top: 4px solid !important;
  border-left: 4px solid !important;
  border-right: 4px solid !important;

}
#tabs .nav-tabs .nav-link {
  border: 1px solid transparent;
  border-top-left-radius: .25rem;
  border-top-right-radius: .25rem;
  color: rgb(255, 255, 255);
  font-size: 20px;
}
body.modal-open {
  overflow: visible;
}
#focus {
  background-color: yellow;
}